
.titulo
{
    padding-top: 2%;
    padding-bottom: 3%;
}

.enlace
{
    padding-top: 2%;
    color: aliceblue;
    font-size: 17px;
   
    
}


.sec2
{
padding-top: 2%;
padding-bottom: 12%;
font-size:100px;

}
.sec21
{
padding-top: 7%;
padding-bottom: 7%;
font-size:100px;
}
.sec3
{
    background-color: gold; 
     height:100px; 
     border: 2px solid gold;
     padding-top: 0%;
     padding-bottom: 27%;
     padding-right: 0%;
     padding-left:0%;
     text-align: center;
}
.footer
{
padding-top: 3%;

font-size: 5px;
}

